<div id="events" class="page" (window:scroll)="scrollingEvents()">
    <h2 class="pageTitle" *ngIf="language === 'ukr'">Події</h2>
    <h2 class="pageTitle" *ngIf="language === 'eng'">Events</h2>
    <hr class="myHr">
    <div id="eventsInner">
        <div class="eventOne" *ngFor="let event of events">
            <div class="eventOneLeft">
                <img src="{{event.imageUrl}}" alt="" srcset="">
            </div>
            <div class="eventOneRight">
                <p class="eventOneDate">{{event.date.toDate() | date: 'dd.MM.yyyy'}}, {{event.time}}</p>
                <h3 *ngIf="language === 'ukr'">{{event.titleUkr}}</h3>
                <h3 *ngIf="language === 'eng'">{{event.titleEng}}</h3>
                <hr>
                <p class="eventOneDescription" 
                    *ngIf="language === 'ukr'">{{event.descriptionUkr}}</p>
                <p class="eventOneDescription" 
                    *ngIf="language === 'eng'">{{event.descriptionEng}}</p>
                <div class="myButton" *ngIf="event.facebookUrl">
                    <a href="{{event.facebookUrl}}"
                        *ngIf="language === 'ukr'" target="_blank">Більше...</a>
                    <a href="{{event.facebookUrl}}"
                        *ngIf="language === 'eng'" target="_blank">Read more...</a>
                </div>
            </div>
        </div>
    </div>
</div>
