@import '../../../variables.scss';
#events {
    font-family: $main-font;
    .myHr {
        display: none;
    }
    #eventsInner {
        .eventOne {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            border-top: 1px solid $my-grey;
            border-bottom: 1px solid $my-grey;
            margin-bottom: 25px;
            .eventOneLeft {
                padding: 20px;
                .eventOneDate {
                    font-size: 20px;
                    font-weight: bold;
                    color: $my-grey;
                    margin-top: 10px;
                }
                h3 {
                    font-size: 30px;
                    color: $my-mint;
                    margin: 15px 0;
                }
                hr {
                    width: 25%;
                    margin-bottom: 15px;
                }
            }
            .eventOneRight {
                display: grid;
                img {
                    width: 100%;
                }
            }
        }
    }
}
@media (max-width: 900px) {
    #events {
        .myHr {
            display: block;
            width: 85%;
            border: 1px solid $my-mint;
            margin: 0 auto;
        }
        #eventsInner {
            .eventOne {
                padding: 0 10px;
                border-bottom: none;
                grid-template-columns: none;
                grid-template-rows: auto 2fr;
                .eventOneLeft {
                    padding: 10px 20px;
                    h3, .eventOneDate {
                        text-align: center;
                    }
                    hr {
                        margin: 15px auto;
                    }
                }
                .eventOneRight {
                    padding: 10px 20px;
                }
            }
            .eventOne:first-of-type {
                border-top: none;
            }
        }
    }
}
@media (max-width: 500px) {
    #events {
        #eventsInner {
            .eventOne {
                .eventOneLeft {
                    h3 {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}