@import '../../../variables.scss';
#events {
    font-family: $main-font;
    #eventsInner {
        .eventOne {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            // background-color: $my-mint;
            border-top: 1px solid grey;
            border-bottom: 1px solid grey;
            margin-top: 25px;
            .eventOneLeft {
                padding: 10px 20px;
                .eventOneDate {
                    font-weight: bold;
                }
                h3 {
                    font-size: 30px;
                    color: $my-mint;
                    margin: 15px 0;
                }
                hr {
                    width: 25%;
                    margin-bottom: 15px;
                }
            }
            .eventOneRight {
                display: grid;
                img {
                    width: 100%;
                }
            }
        }
    }
}