<div id="events" class="page">
    <h2 class="pageTitle">Події</h2>
    <div id="eventsInner">
        <div class="eventOne" *ngFor="let event of events">
            <div class="eventOneLeft">
                <p>{{event.date | date: 'dd.MM.yyyy'}}</p>
                <h3>{{event.title}}</h3>
                <hr>
                <p>{{event.description}}</p>
            </div>
            <div class="eventOneRight">
                <img src="{{event.imageUrl}}" alt="" srcset="">
            </div>
        </div>
    </div>
</div>
