@import '../../../variables.scss';
#embed {
    width: 100vw;
    height: 100vh;
    background-color: $my-translucent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 104;
}