<footer>
    <h2>PaRi Art Music Orchestra</h2>
    <!-- <div id="logoImage">
        <img src="../../../assets/test/соцмережі_instagram.jpg" alt="" srcset="">
    </div> -->
    <div id="social">
        <a href="">
            <img src="../../../assets/images/facebook.png" alt="facebook" srcset=""> 
        </a>
        <a href="">
            <img src="../../../assets/images/instagram.png" alt="instagram" srcset="">
        </a>
        <a href="">
            <img src="../../../assets/images/youtube.png" alt="youtube" srcset="">
        </a>
    </div>
    <div id="copyright">
        <p>@<span>{{date | date: 'y'}}</span> Всі права збережені</p>
        <!-- <p>Розробник: <a href="https://nskrprogrammer.firebaseapp.com">Назар Скрипник</a>
        </p> -->
    </div>
</footer>
