<footer>
    <div id="logoImage">
        <img src="../../../assets/images/logo-grey.jpg" alt="" srcset="">
    </div>
    <h2>PaRi Art Music Orchestra</h2>
    <div id="social">
        <a href="" target="_blank">
            <img src="../../../assets/images/facebook.png" alt="facebook" srcset=""> 
        </a>
        <a href="" target="_blank">
            <img src="../../../assets/images/instagram.png" alt="instagram" srcset="">
        </a>
        <a href="" target="_blank">
            <img src="../../../assets/images/youtube.png" alt="youtube" srcset="">
        </a>
    </div>
    <div id="copyright">
        <p>@<span>{{date | date: 'y'}}</span> Всі права збережені</p>
        <p id="developerInfo">Розробник: <a href="https://nskrprogrammer.firebaseapp.com" target="_blank">Назар Скрипник</a>
        </p>
    </div>
</footer>
