<footer>
    <div id="logoImage">
        <img src="../../../assets/images/logo-grey.jpg" alt="" srcset="">
    </div>
    <h2 (click)="goHome()">PaRi Art Music Orchestra</h2>
    <div id="social">
        <a href="https://www.facebook.com/PaRiArtMusic/" target="_blank">
            <img src="../../../assets/images/facebook.png" alt="facebook" srcset=""> 
        </a>
        <a href="https://www.instagram.com/pariartmusic/?hl=uk" target="_blank">
            <img src="../../../assets/images/instagram.png" alt="instagram" srcset="">
        </a>
        <a href="https://www.youtube.com/channel/UCC7GVl9hiPAHe1mxCT3zrcg" target="_blank">
            <img src="../../../assets/images/youtube.png" alt="youtube" srcset="">
        </a>
    </div>
    <div class="copyright" *ngIf="language === 'ukr'">
        <p>@<span>{{date | date: 'y'}}</span> Всі права збережені</p>
        <p class="developerInfo">Розробник: <a href="https://nazarskrypnyk.com" target="_blank">Назар Скрипник</a>
        </p>
    </div>
    <div class="copyright" *ngIf="language === 'eng'">
        <p>@<span>{{date | date: 'y'}}</span> All rights reserved</p>
        <p class="developerInfo">Developer: <a href="https://nazarskrypnyk.com" target="_blank">Nazar Skrypnyk</a>
        </p>
    </div>
</footer>
