@import '../../../variables.scss';
footer {
    font-family: $head-font;
    background-color: black;
    color: grey;
    height: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    h2 {
        padding: 25px 0;
        color: $my-grey;
        color: $my-mint;
        font-size: 30px;
        cursor: pointer;
    }
    #logoImage {
        width: 75px;
        img {
            width: 100%;
        }
    }
    #social {
        padding: 0 0 25px 0;
        width: 200px;
        display: flex;
        justify-content: space-between;
        a {
            img {
                width: 32px;
                height: 32px;
                filter: invert(50%);
                transition: filter 1s;
            } 
        }
        a:hover {
            img {
                filter: invert(100%);
                transition: filter 1s;
            }
        }  
    }
    #copyright {
        p {
            // padding: 30px 0;
            a {
                color: grey;
                transition-duration: 1s;
            }
            a:hover {
                color: white;
                transition-duration: 1s;
            }
        }
        #developerInfo {
            margin-top: 20px;
            font-size: 10px;
            font-family: $main-font;
        }
    }
}
@media(max-width: 600px) {
    footer {
        h2 {
            font-size: 25px;
        }
    }
}
@media(max-width: 450px) {
    footer {
        h2 {
            font-size: 20px;
        }
        #social {
            a {
                img {
                    width: 25px;
                    height: 25px;
                } 
            } 
        }
        #copyright {
            p {
                font-size: 14px;
            }
        }
    }
}