<header>
    <div class="changeLanguage" (click)="changeLanguage()" *ngIf="language === 'eng'">UA</div>
    <div class="changeLanguage" (click)="changeLanguage()" *ngIf="language === 'ukr'">EN</div>
    <h1 (click)="goHome()" [ngStyle]="{'display': showHeader}">PaRi&nbsp;Art&nbsp;Music&nbsp;Orchestra</h1>
    <hr [ngStyle]="{'display': showHeader}">
    <div id="navigation">
        <input  [(ngModel)]="isChecked" id="menuToggle" type="checkbox" />
        <label class="menuBtn" for="menuToggle">
            <span></span>
        </label>
        <ul id="navUkr" (click)='closeMenu()'>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="about" class="navLink">про нас</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="events" class="navLink">події</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="gallery" class="navLink">галерея</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="video" class="navLink">відео</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="contact" class="navLink">контакт</a>
            </li>
        </ul>
        <ul id="navEng" *ngIf="language === 'eng'">
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="about" class="navLink">about</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="events" class="navLink">events</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="gallery" class="navLink">gallery</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="video" class="navLink">video</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="contact" class="navLink">contact</a>
            </li>
        </ul>
    </div>
</header>
