<div id="contactImage" 
    [ngStyle]="{'transform': 'translateY(backgroundToTop)'}">
</div>
<div id="contact">
    <h2 class="pageTitle" *ngIf="language === 'ukr'">Контакт</h2>
    <h2 class="pageTitle" *ngIf="language === 'eng'">Contact</h2>
    <div id="contactInner">
        <div class="contactItem">
            <h3 *ngIf="language ==='ukr'">Оркестр</h3>
            <h3 *ngIf="language ==='eng'">Orchestra</h3>
            <div class="contactCard">
              <p>
                <img src="../../../assets/images/email-round.png" alt="" srcset="">
                  <a href="mailto:pariorchestra@gmail.com" target="_blank">pariorchestra@gmail.com</a>
              </p>
              <p>
                <img src="../../../assets/images/telephone-round.png" alt="" srcset="">
                  <a href="tel:+380936993947" target="_blank">+380936993947</a>
              </p>
              <p>
                <img src="../../../assets/images/facebook-round.png" alt="" srcset="">
                  <a href="https://www.facebook.com/PaRiArtMusic/" target="_blank">PaRi Art Music Orchestra</a>
              </p>
              <p>
                <img src="../../../assets/images/instagram-round.png" alt="" srcset="">
                  <a href="https://www.instagram.com/pariartmusic/" target="_blank">pariartmusic</a>
              </p>
            </div>
        </div>
        <div class="contactItem">
            <h3 *ngIf="language === 'ukr'">Дириґент</h3>
            <h3 *ngIf="language === 'eng'">Conductor</h3>
            <div class="contactCard">
              <p>
                <img src="../../../assets/images/email-round.png" alt="" srcset="">
                  <a href="mailto:bagrsj1994@gmail.com" target="_blank">bagrsj1994@gmail.com</a>
              </p>
              <p>
                <img src="../../../assets/images/facebook-round.png" alt="" srcset="">
                  <a href="https://www.facebook.com/profile.php?id=100005096599341" target="_blank">Роман Багрій</a>
              </p>
              <p>
                <img src="../../../assets/images/instagram-round.png" alt="" srcset="">
                  <a href="https://www.instagram.com/bagrii.roman/" target="_blank">bagrii.roman</a>
              </p>
            </div>
        </div>
        <div class="contactForm">
            <h3 *ngIf="language === 'ukr'">Залишити відгук</h3>
            <h3 *ngIf="language === 'eng'">Leave a comment</h3>
            <form class="example-form" (submit)="sendMessage(sendForm)" #sendForm="ngForm">
                <mat-form-field class="example-full-width">
                  <mat-label *ngIf="language === 'ukr'">Ваше ім'я:</mat-label>
                  <mat-label *ngIf="language === 'eng'">Your name:</mat-label>
                  <input matInput
                        type="text" 
                        required
                        minlength="1" 
                        ngModel
                        #contactName="ngModel"
                        name="contactName">
                  <mat-error *ngIf="contactName.invalid && language === 'ukr'">Введіть ім'я</mat-error>
                  <mat-error *ngIf="contactName.invalid && language === 'eng'">Enter your name</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label *ngIf="language === 'ukr'">Ваш e-mail (необов'язково):</mat-label>
                  <mat-label *ngIf="language === 'eng'">Your e-mail (is not required):</mat-label>
                  <input matInput
                        type="email"
                        ngModel
                        #contactEmail="ngModel"
                        name="contactEmail">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label *ngIf="language === 'ukr'">Ваш відгук:</mat-label>
                  <mat-label *ngIf="language === 'eng'">Your message:</mat-label>
                  <textarea matInput
                            required 
                            rows="6" 
                            ngModel
                            #contactMessage="ngModel"
                            name="contactMessage">
                  </textarea>
                  <mat-error *ngIf="contactMessage.invalid && language === 'ukr'">Напишіть відгук</mat-error>
                  <mat-error *ngIf="contactMessage.invalid && language === 'eng'">Enter your message</mat-error>
                </mat-form-field>
                <button type="submit" class="myButton" *ngIf="language === 'ukr'">Надіслати</button>
                <button type="submit" class="myButton" *ngIf="language === 'eng'">Send</button>
            </form>
        </div>
    </div>
    <div id="contactThanks" (click)="hideThanks()" [@showThanks]="sent ? 'show' : 'hide'">
      <p class="thanks" *ngIf="language === 'ukr'">Дякуємо за Ваш відгук!</p>
      <p class="thanks" *ngIf="language === 'eng'">Thank you for a comment!</p>
    </div>
</div>
