<div id="contact" class="page">
    <h2 class="pageTitle">Контакти</h2>
    <div id="contactInner">
        <div class="contactItem">
            <h3>Оркестр</h3>
            <p class="contactName">PaRi Art Music Orchestra</p>
            <p>
              <img src="../../../assets/images/mail.png" alt="" srcset="">
                <a href="mailto:pariorchestra@gmail.com" target="_blank">pariorchestra@gmail.com</a>
            </p>
            <p>
              <img src="../../../assets/images/facebook.png" alt="" srcset="">
                <a href="https://www.facebook.com/PaRiArtMusic/" target="_blank">PaRi Art Music Orchestra</a>
            </p>
            <p>
              <img src="../../../assets/images/instagram.png" alt="" srcset="">
                <a href="https://www.instagram.com/pariartmusic/" target="_blank">pariartmusic</a>
            </p>
        </div>
        <div class="contactItem">
            <h3>Дириґент</h3>
            <p class="contactName">Роман Багрій</p>
            <p>
              <a href="mailto:tttt@gmail.com" target="_blank">tttt@gmail.com</a>
            </p>
            <p>
                <a href="https://www.facebook.com/profile.php?id=100005096599341" target="_blank">Роман Багрій</a>
            </p>
            <p>
                <a href="https://www.instagram.com/bagrii.roman/" target="_blank">bagrii.roman</a>
            </p>
        </div>
        <div class="contactForm" *ngIf="language === 'ukr'">
            <h3>Залишити відгук</h3>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput 
                        placeholder="Ваше ім'я" 
                        required 
                        [formControl]="nameFormControl">
                  <mat-error *ngIf="nameFormControl.hasError('required')">
                    Введіть <strong>ім'я</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <textarea matInput 
                            placeholder="Ваш відгук" 
                            reqiured 
                            [formControl]="messageFormControl"></textarea>
                  <mat-error *ngIf="messageFormControl.hasError('required')">
                    Напишіть <strong>відгук</strong>
                  </mat-error>
                </mat-form-field>
                <button class="myButton">Надіслати</button>
            </form>
        </div>
        <div class="contactForm" *ngIf="language === 'eng'">
            <h3>Leave a comment</h3>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput 
                        placeholder="Your name" 
                        required 
                        [formControl]="nameFormControl">
                  <mat-error *ngIf="nameFormControl.hasError('required')">
                    Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <textarea matInput 
                            placeholder="Your comment" 
                            required 
                            [formControl]="messageFormControl"></textarea>
                  <mat-error *ngIf="messageFormControl.hasError('required')">
                    Message is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <button class="myButton">Send</button>
            </form>
        </div>
    </div>
</div>
