@import '../../../variables.scss';
#contact {
    // margin-top: 0;
    // padding-top: 115px;
    padding: 40px 0;
    background-color: $my-grey;
    #contactInner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        min-height: 90vh;
        .contactItem {
            width: 520px;
            border-radius: 10px;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            margin-bottom: 55px;
            padding: 20px 0;
            h3 {
                color: $my-mint;
                font-size: 30px;
                margin-bottom: 15px;
            }
            .contactName {
                font-weight: bold;
            }
            .contactCard {
                p {
                    display: flex;
                    justify-content: center;
                    line-height: 23px;
                    margin: 10px 0;
                    img {
                        width: 25px;
                        height: 25px;
                        margin-right: 10px;
                    }
                }
            }
        }
        .contactForm {
            width: 520px;
            background-color: white;
            padding: 25px 10px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3 {
                color: $my-mint;
                text-align: center;
                font-size: 30px;
                padding-bottom: 20px;
            }
            .example-form {
                width: 350px;
            }
            .example-full-width {
                width: 100%;
            }
            ::ng-deep.mat-focused .mat-form-field-label {
                color: $my-mint !important;
            }
            ::ng-deep .mat-form-field-label {
                color: $my-mint !important;
                font-size: 13px;
                font-family: $head-font;
            }
            ::ng-deep.mat-form-field-underline {
                background-color: $my-mint !important;
            } 
            ::ng-deep.mat-form-field-ripple {
                background-color: $my-mint !important;
            }
        } 
    }
}