<div id="contact" class="page">
    <h2 class="pageTitle">Контакти</h2>
    <div id="contactInner">
        <div class="contactItem">
            <div class="contactItemLeft">
                <h3>Оркестр</h3>
            </div>
            <div class="contactItemRight">
                <p><a href="http://" target="_blank"></a></p>
                <p><a href="mailto:tttt@gmail.com" target="_blank">tttt@gmail.com</a></p>
                <p><a href="https://www.instagram.com/bagrii.roman/" target="_blank">bagrii.roman</a></p>
            </div>
        </div>
        <div class="contactItem">
            <div class="contactItemLeft">
                <h3>Дириґент</h3>
            </div>
            <div class="contactItemRight">
                <p class="contactName">Роман Багрій</p>
                <p><a href="http://" target="_blank"></a></p>
                <p><a href="mailto:tttt@gmail.com" target="_blank">tttt@gmail.com</a></p>
                <p><a href="https://www.instagram.com/bagrii.roman/" target="_blank">bagrii.roman</a></p>
            </div>
        </div>
        <hr>
        <div class="contactItem">
            <div class="contactItemLeft">
                <h3>Розробник</h3>
            </div>
            <div class="contactItemRight">
                <p class="contactName">Назар Скрипник</p>
                <p><a href="http://" target="_blank"></a></p>
                <p><a href="mailto:nazarskrypnyk.programmer@gmail.com" target="_blank">nazarskrypnyk.programmer@gmail.com</a></p>
                <p><a href="https://www.instagram.com/bagrii.roman/" target="_blank">Nazar Skrypnyk</a></p>
            </div>
        </div>
    </div>
</div>
