<div id="videoBackground"></div>
<div id="video" (window:scroll)="scrollingEvents()">
    <h2 class="pageTitle" *ngIf="language === 'ukr'">Відео</h2>
    <h2 class="pageTitle" *ngIf="language === 'eng'">Video</h2>
    <div id="videoInner">
        <div class="videoOne" *ngFor="let video of videos; let i = index" (click)="showVideo(video)">
            <img src="{{video.imageUrl}}" alt="концерт" srcset="">
            <h3 *ngIf="language === 'ukr'">{{video.titleUkr}}</h3>
            <h3 *ngIf="language === 'eng'">{{video.titleEng}}</h3>
            <p>{{video.date.toDate() | date: 'yyyy'}}</p>
        </div>
    </div>
</div>
<app-embed-video></app-embed-video>
