@import '../../../variables.scss';
#video {
    padding-top: 115px;
    background: $my-medium-translucent;
    position: relative;
    #videoBackground {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: -1;
        img {
            width: 100%;
        }
    }
    // #light {
    //     position: absolute;
    //     width: 500px;
    //     height: 500px;
    //     box-shadow: inset 0 0 150px 150px #000;
    //     background: #fff;
    //     z-index: 10;
    // }
    .pageTitle {
        color: white;
    }
    #videoInner {
        width: 100%;
        padding: 0 3% 3%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        .videoOne {
            cursor: pointer;
            text-align: center;
            padding: 20px;
            background-color: white;
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
            border-radius: 10px;
            img {
                width: 100%;
                transition: transform .5s;
                &:hover {
                    transform: scale(0.95);
                    transition: transform .5s;
                }
            }
            p {
                display: inline-block;
                padding: 5px;
                color: white;
                background-color: $my-grey;
                font-weight: 500;
                letter-spacing: 1px;
                margin: 15px 0;
            }
            h3 {
                color: $my-mint;
                font-size: 25px;
                font-weight: normal;
                text-align: center;
            }
        }
    }
}
@media (max-width: 750px) {
    #video {
        padding-top: 85px;
        #videoInner {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media(max-width: 600px) {
    #video {
        padding-top: 75px;
    }
}
@media (max-width: 550px) {
    #video {
        #videoInner {
            grid-template-columns: 1fr;
        }
    }
}