@import '../../../variables.scss';
#adminAbout {
    form {
        #uploadAboutPhotos {
            padding: 0 50px;
            display: flex;
            justify-content: space-around;
        }
    }
}

label {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}