<ngx-dropzone
    id="{{filePath}}"
    accept="{{fileAccept}}"
    multiple="true"
    (change)="onSelect($event)">
    <ngx-dropzone-label>Кидай сюди або клікай і вибирай!</ngx-dropzone-label>
    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
    </ngx-dropzone-preview>
</ngx-dropzone>
<div class="progress" *ngIf="uploadProgress$ | async as progress">
    <div id="progressBar" [ngStyle]="{ 'width': progress + '%' }"></div>
</div>
<button class="myButton" (click)="upload()">Завантажити</button>