<div id="about" class="page" (window:scroll)="scrollingEvents()">
    <div id="aboutOrchestra" class="aboutSection">
        <h2 class="pageTitle" *ngIf="language === 'ukr'">Про оркестр</h2>
        <h2 class="pageTitle" *ngIf="language === 'eng'">About us</h2>
        <div id="aboutOrchestraImg" class="aboutSectionImg">
            <img src="{{about.orchImageUrl}}" alt="PaRi Art Orchestra" srcset="">
        </div>
        <div id="aboutOrchestraText" class="aboutSectionText">
            <p *ngIf="language === 'ukr'" [innerHTML]="about.orchUkr"></p>
            <p *ngIf="language === 'eng'"[innerHTML]="about.orchEng"></p>
        </div>
    </div>
    <div id="aboutConductor" class="aboutSection">
        <h2 class="pageTitle" *ngIf="language === 'ukr'">Роман Багрій</h2>
        <h2 class="pageTitle" *ngIf="language === 'eng'">Roman Bagriy</h2>
        <div id="aboutConductorImg" class="aboutSectionImg">
            <img src="{{about.condImageUrl}}" alt="" srcset="">
        </div>
        <div id="aboutConductorText" class="aboutSectionText">
            <p *ngIf="language === 'ukr'" [innerHTML]="about.condUkr"></p>
            <p *ngIf="language === 'eng'" [innerHTML]="about.condEng"></p>
        </div>
    </div>
</div>
