<div id="about" class="page" (window:scroll)="scrollingEvents()">
    <div id="aboutOrchestra" class="aboutSection">
        <h2 class="pageTitle" *ngIf="language === 'ukr'">Про оркестр</h2>
        <h2 class="pageTitle" *ngIf="language === 'eng'">About us</h2>
        <div id="aboutOrchestraImg" class="aboutSectionImg">
            <img src="../../../assets/test/img5.jpg" alt="" srcset="">
        </div>
        <div id="aboutOrchestraText" class="aboutSectionText">
            <p>Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Voluptatem officia voluptate velit sapiente. 
                Rem non quod rerum fugiat pariatur sint recusandae. Repellat facilis 
                aspernatur sint placeat quod natus aut distinctio. 
                Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Voluptatem officia voluptate velit sapiente. 
                Rem non quod rerum fugiat pariatur sint recusandae. Repellat facilis 
                aspernatur sint placeat quod natus aut distinctio.
                Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Voluptatem officia voluptate velit sapiente. 
                Rem non quod rerum fugiat pariatur sint recusandae. Repellat facilis 
                aspernatur sint placeat quod natus aut distinctio.
                Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Voluptatem officia voluptate velit sapiente. 
                Rem non quod rerum fugiat pariatur sint recusandae. Repellat facilis 
                aspernatur sint placeat quod natus aut distinctio.</p>
        </div>
    </div>
    <hr>
    <div id="aboutConductor" class="aboutSection">
        <h2 class="pageTitle" *ngIf="language === 'ukr'">Роман Багрій</h2>
        <h2 class="pageTitle" *ngIf="language === 'eng'">Roman Bagrii</h2>
        <div id="aboutConductorImg" class="aboutSectionImg">
            <img src="../../../assets/test/img7.JPG" alt="" srcset="">
        </div>
        <div id="aboutConductorText" class="aboutSectionText">
            <p>Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Voluptatem officia voluptate velit sapiente. 
                Rem non quod rerum fugiat pariatur sint recusandae. Repellat facilis 
                aspernatur sint placeat quod natus aut distinctio. 
                Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Voluptatem officia voluptate velit sapiente. 
                Rem non quod rerum fugiat pariatur sint recusandae. Repellat facilis 
                aspernatur sint placeat quod natus aut distinctio.
                Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Voluptatem officia voluptate velit sapiente. 
                Rem non quod rerum fugiat pariatur sint recusandae. Repellat facilis 
                aspernatur sint placeat quod natus aut distinctio.
                Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Voluptatem officia voluptate velit sapiente. 
                Rem non quod rerum fugiat pariatur sint recusandae. Repellat facilis 
                aspernatur sint placeat quod natus aut distinctio.</p>
        </div>
    </div>
</div>
