@import '../../../variables.scss';
#about {
    padding: 0 5%;
    .aboutSection {
        margin: 50px 0;
        .aboutSectionImg {
            margin-bottom: 25px;
            img {
                width: 100%;
            }
        }
        .aboutSectionText {
            p {
                padding: 1%;
                text-align: justify;
            }
        }
    }
    hr {
        border: 2px solid $my-mint;
    }
}