@import '../../../variables.scss';
#about {
    padding: 0 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .aboutSection {
        margin: 25px;
        padding: 25px;
        box-shadow: 0 0 5px $my-grey;
        border-radius: 10px;
        .aboutSectionImg {
            margin-bottom: 25px;
            img {
                width: 100%;
            }
        }
        .aboutSectionText {
            p {
                padding: 1%;
                text-align: justify;
            }
        }
    }
}
@media(max-width: 1024px) {
    #about {
        grid-template-columns: 1fr;
        .aboutSection {
            border-radius: 0;
            box-shadow: none;
            padding: 0;
        }
        #aboutConductor {
            border-top: 1px solid $my-mint;
            padding-top: 25px;
        }
    }
}
@media(max-height: 500px) {
    #about {
        padding: 0 30vh;
    }
}