<div id="admin" class="page">
    <nav>
        <ul id="adminNav">
            <li (click)="onScrollElem('adC')">Відгуки</li>
            <li (click)="onScrollElem('adA')">Про нас</li>
            <li (click)="onScrollElem('adE')">Події</li>
            <li (click)="onScrollElem('adG')">Галерея</li>
            <li (click)="onScrollElem('adV')">Відео</li>
        </ul>
    </nav>
    <app-admin-contact id="adC"></app-admin-contact>
    <hr>
    <app-admin-about id="adA"></app-admin-about>
    <hr>
    <app-admin-events id="adE"></app-admin-events>
    <hr>
    <app-admin-gallery id="adG"></app-admin-gallery>
    <hr>
    <app-admin-video id="adV"></app-admin-video>
    <app-admin-changelp></app-admin-changelp>
</div>
