@import '../../../variables.scss';
#home {
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
    height: 2000px;
    #homeSlideshow {
        background-color:white;
        border-bottom: 1px solid grey;
    }
    #homePhotoVideo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .homePhotoVideo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            h2 {
                color: $my-mint;
            }
        }
        #homePhoto {
            border-right: 1px solid grey;
        }
    }
    #homeLatestNews {
        display: flex;
        flex-direction: column;
        text-align: center;
        border-top: 1px solid grey;
        // background-color: $my-mint;
    }
}