@import '../../../variables.scss';
#home {
    display: grid;
    grid-template-rows: repeat(3, auto);
    #homeSlideshow {
        display: grid;
        padding: 0 25%;
        border-bottom: 1px solid grey;
        background-color: $my-mint;
        img {
            width: 100%;
            filter: invert(100%);
        }
    }
    #homePhotoVideo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .homePhotoVideo {
            display: grid;
            grid-template-rows: auto 1fr;
            text-align: center;
            padding: 0 5%;
            h2 {
                color: $my-mint;
                padding: 25px 0;
            }
            .homePhotoVideoInner {
                display: grid;
                grid-template-rows: 1fr auto;
                img {
                    width: 100%;
                }
                div {
                    padding-bottom: 20px;
                    h3 {
                        margin: 10px 0;
                    }
                }
            }
        }
        #homePhoto {
            border-right: 1px solid grey;
        }
    }
    #homeLatestNews {
        display: flex;
        flex-direction: column;
        text-align: center;
        border-top: 1px solid grey;
        padding: 25px 0;
        #homeLatestNewsInner {
            padding: 20px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 20px;
            .latestNew {
                display: grid;
                grid-template-rows: 1fr auto;
                .latestNewImg {
                    position: relative;
                    img {
                        width: 100%;
                    }
                    .latestNewDescription {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        background-color: $my-translucent;
                        color: white;
                        transition: opacity 1s;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 5% 10%;
                        p {
                            text-align: justify;
                            cursor: pointer;
                            font-size: 1.5vw;
                        }
                    }
                    .latestNewDescription:hover {
                        opacity: 1;
                        transition: opacity 1s;
                    }
                }
                div {
                    h3 {
                        padding: 10px 0;
                        color: $my-mint;
                    }
                }
            }
        }
    }
}
@media(max-width: 750px) {
    #home {
        #homeSlideshow {
            border-bottom: none;
        }
        #homePhotoVideo {
            grid-template-columns: none;
            grid-template-rows: 1fr 1fr;
            #homePhoto {
                border-right: none;
            }
            .homePhotoVideo {
                border-top: 1px solid grey;
            }
        }
    }
}
.centralLogo {
    animation: comeIn 2.5s;
}
@keyframes comeIn {
    0% {
        transform: translate(-1000px);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}