$my-mint: rgb(37, 132, 128);
$my-black: rgb(22, 22, 22);
$head-font: 'Philosopher', sans-serif;
$main-font: 'Lora', serif;
// $head-font: 'Yanone Kaffeesatz', sans-serif;
// $main-font: 'Source Sans Pro', sans-serif;
// $head-font: 'Exo 2', sans-serif;
// $main-font: 'Roboto', sans-serif;
// $head-font: 'Days One', sans-serif;
// $main-font: 'Roboto', sans-serif;
