$my-mint: rgb(37, 132, 128);
$my-black: rgb(22, 22, 22);
$my-grey: rgb(128, 128, 128);
$white-translucent: rgba(255, 255, 255, 0.44);
$my-translucent: rgba(0, 0, 0, 0.88);
$my-medium-translucent: rgba(0, 0, 0, 0.77);
$my-light-translucent: rgba(0, 0, 0, 0.44);
$head-font: 'Philosopher', sans-serif;
// $main-font: 'Lora', serif;
// $main-font: 'Yanone Kaffeesatz', sans-serif;
// $main-font: 'Source Sans Pro', sans-serif;
$main-font: 'Exo 2', sans-serif;
// $main-font: 'Roboto', sans-serif;
// $main-font: 'Days One', sans-serif;
// $main-font: 'Montserrat', sans-serif;

  
